<!-- templates/browse.html -->
{% extends "base.html" %}

{% block title %}Browse {{ path }}{% endblock %}

{% block content %}
<h2>Path: {{ path }}</h2>

<!-- Хлебные крошки -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for crumb in breadcrumbs %}
        {% if not loop.last %}
        <li class="breadcrumb-item">
            <a href="{{ url_for('browse', file_path=crumb.path) }}">{{ crumb.name }}</a>
        </li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{ crumb.name }}</li>
        {% endif %}
        {% endfor %}
    </ol>
</nav>

<!-- Кнопка возврата к родительской папке -->
<!-- Кнопка возврата к родительской папке -->
{% if parent_dir %}
<div style="margin-bottom: 10px;">
    <a href="{{ url_for('browse', file_path=parent_dir) }}" class="btn btn-primary">Go Up</a>
</div>
{% endif %}

<!-- Список папок -->
<h3>Folders:</h3>
<ul>
    {% if folders %}
    {% for folder in folders %}
    <li class="folder">
        <a href="{{ url_for('browse', file_path=join(path, folder)) }}">{{ folder }}</a>
    </li>
    {% endfor %}
    {% else %}
    <li>No folders found.</li>
    {% endif %}
</ul>

<!-- Список файлов -->
<h3>Files:</h3>
<form action="{{ url_for('browse', file_path=path) }}" method="post">
    <ul>
        {% if files %}
        {% for file in files %}
        <li class="file">
            <input type="checkbox" name="files" value="{{ file }}"> {{ file }}
        </li>
        {% endfor %}
        {% else %}
        <li>No files found.</li>
        {% endif %}
    </ul>
    <button type="submit" class="btn btn-success">Create Playlist</button>
</form>
{% endblock %}